---
BasedOnStyle: Chromium
AlignEscapedNewlines: Left
AlignOperands: 'true'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: 'true'
AlwaysBreakTemplateDeclarations: 'Yes'
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: 'true'
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: '128'
CompactNamespaces: 'false'
Cpp11BracedListStyle: 'true'
FixNamespaceComments: 'true'
IncludeBlocks: Regroup
IndentWidth: '4'
IndentWrappedFunctionNames: 'true'
Language: Cpp
NamespaceIndentation: All
PointerAlignment: Right
SortIncludes: 'false'
SortUsingDeclarations: 'true'
SpaceAfterCStyleCast: 'false'
SpaceAfterLogicalNot: 'false'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeCpp11BracedList: 'true'
SpaceBeforeCtorInitializerColon: 'false'
SpaceBeforeInheritanceColon: 'false'
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: 'true'
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '1'
SpacesInAngles: Never
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'false'
SpacesInParentheses: 'false'
TabWidth: '4'
UseTab: Never

# Added configurations for EVT macro formatting
AlignConsecutiveMacros: 'true'
MacroBlockBegin: 'EVT_BEGIN'
MacroBlockEnd: 'EVT_END|EVT_PATCH_END'
AlignAfterOpenBracket: Align
IndentExternBlock: Indent
KeepEmptyLinesAtTheStartOfBlocks: 'false'
MaxEmptyLinesToKeep: 1

# Specific configuration for all the EVT macros
StatementMacros:
  - 'USER_FUNC'
  - 'USER_FUNC_UNSAFE'
  - 'WAIT_MSEC'
  - 'RETURN'
  - 'LBL'
  - 'GOTO'
  - 'DO'
  - 'WHILE'
  - 'DO_BREAK'
  - 'DO_CONTINUE'
  - 'WAIT_FRM'
  - 'HALT'
  - 'IF_STR_EQUAL'
  - 'IF_STR_NOT_EQUAL'
  - 'IF_STR_SMALL'
  - 'IF_STR_LARGE'
  - 'IF_STR_SMALL_EQUAL'
  - 'IF_STR_LARGE_EQUAL'
  - 'IFF_EQUAL'
  - 'IFF_NOT_EQUAL'
  - 'IFF_SMALL'
  - 'IFF_LARGE'
  - 'IFF_SMALL_EQUAL'
  - 'IFF_LARGE_EQUAL'
  - 'IF_EQUAL'
  - 'IF_NOT_EQUAL'
  - 'IF_SMALL'
  - 'IF_LARGE'
  - 'IF_SMALL_EQUAL'
  - 'IF_LARGE_EQUAL'
  - 'IF_FLAG'
  - 'IF_NOT_FLAG'
  - 'ELSE'
  - 'END_IF'
  - 'SWITCH'
  - 'SWITCHI'
  - 'CASE_EQUAL'
  - 'CASE_NOT_EQUAL'
  - 'CASE_SMALL'
  - 'CASE_LARGE'
  - 'CASE_SMALL_EQUAL'
  - 'CASE_LARGE_EQUAL'
  - 'CASE_ETC'
  - 'CASE_OR'
  - 'CASE_AND'
  - 'CASE_FLAG'
  - 'CASE_END'
  - 'CASE_BETWEEN'
  - 'SWITCH_BREAK'
  - 'END_SWITCH'
  - 'SET'
  - 'SETI'
  - 'SETF'
  - 'ADD'
  - 'SUB'
  - 'MUL'
  - 'DIV'
  - 'MOD'
  - 'ADDF'
  - 'SUBF'
  - 'MULF'
  - 'DIVF'
  - 'SET_READ'
  - 'READ'
  - 'READ2'
  - 'READ3'
  - 'READ4'
  - 'READ_N'
  - 'SET_READF'
  - 'READF'
  - 'READF2'
  - 'READF3'
  - 'READF4'
  - 'READF_N'
  - 'SET_USER_WRK'
  - 'SET_USER_FLG'
  - 'ALLOC_USER_WRK'
  - 'AND'
  - 'ANDI'
  - 'OR'
  - 'ORI'
  - 'SET_FRAME_FROM_MSEC'
  - 'SET_MSEC_FROM_FRAME'
  - 'SET_RAM'
  - 'SET_RAMF'
  - 'GET_RAM'
  - 'GET_RAMF'
  - 'SETR'
  - 'SETRF'
  - 'GETR'
  - 'GETRF'
  - 'RUN_EVT'
  - 'RUN_EVT_ID'
  - 'RUN_CHILD_EVT'
  - 'DELETE_EVT'
  - 'RESTART_EVT'
  - 'SET_PRI'
  - 'SET_SPD'
  - 'SET_TYPE'
  - 'STOP_ALL'
  - 'START_ALL'
  - 'STOP_OTHER'
  - 'START_OTHER'
  - 'STOP_ID'
  - 'START_ID'
  - 'CHK_EVT'
  - 'INLINE_EVT'
  - 'INLINE_EVT_ID'
  - 'END_INLINE'
  - 'BROTHER_EVT'
  - 'BROTHER_EVT_ID'
  - 'END_BROTHER'
  - 'DEBUG_PUT_MSG'
  - 'DEBUG_MSG_CLEAR'
  - 'DEBUG_PUT_REG'
  - 'DEBUG_NAME'
  - 'DEBUG_REM'
  - 'DEBUG_BP'
  - 'LW'
  - 'GW'
  - 'LF'
  - 'GF'
  - 'LSWF'
  - 'GSWF'
  - 'LSW'
  - 'GSW'
  - 'UW'
  - 'UF'
  - 'FLOAT'
  - 'PTR'

# Additional settings that help with macro formatting
AlignConsecutiveAssignments: 'false'
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlinesLeft: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: None
IndentPPDirectives: AfterHash
